<div class=" panel panel-primary">
    <div class="panel panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2"> Filter by:</div>
            <div class="col-md-4">
                <input [(ngModel)]='listFilter'/>
                {{listFilter}}
            </div>
        </div>
       
        <div class="table-responsive">
            <table class="table">

                <thead>
                    <tr>
                        <th>
                            <button class='btn btn-primary' (click)='taggelImage()'>Show Image</button>
                        </th>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>5 Star Rating</th>
                    </tr>


                </thead>

                <tbody>
                    <tr *ngFor='let product of filterProductList'>
                        <td><img *ngIf='showImage' 
                            [src]='product.imageUrl'
                            [title]='product.productName' 
                            [style.width.px]='imageWidth'
                            [style.margin.px]='imageMargin'></td>
                        <td><a [routerLink]="['/products',product.productId]">{{product.productName}}</a></td>
                        <td>{{product.productCode}}</td>
                        <td>{{product.releaseDate}}</td>
                        <td>{{product.price}}</td>
                        <td><pm-star [rating]='product.starRating'(ratingClick)='onRatingClicked($event)' ></pm-star></td>



                    </tr>
                </tbody>
            </table>

        </div>


    </div>